@import './styles/tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: #e8eaed;
  color: var(--ck-gray-900);
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
